.navigation-bar {
    background-color: rgb(23, 19, 19);
    width: 100vw;
    height: 65px;
    display: flex;
    flex-direction: row-reverse;

}

.nav-div {
    background-color: rgb(23, 19, 19);
    width: 90vw;
    height: 65px;
    display: flex;
    flex-direction: row-reverse;

}

.nav-content {
    background-color: rgb(23, 19, 19);
    width: 50vw;
    height: 65px;
    display: flex;
    flex-direction: row-reverse;
}

.logo {

    margin: 20px;
    height: 22px;
}


.link {
    color: white;
    margin: 20px;
    font-size: 0.95rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.link:hover {
    color: rgb(147, 61, 227);
}


.signlog {
    display: flex;
    flex-direction: row;
    width: 20vw;
    height: 65px;
    margin-left: 15px;

}


.login {
    margin-left: 5px;

    color: white;
}

.login:hover {
    color: white;
}

.signup {
    margin: 15px;
    color: white;
    background-color: rgb(147, 61, 227);
    border: 0;
    border-radius: 5px;
    width: 5.7rem;
    height: 2.2rem;
    outline: 0;
    cursor: pointer;
    font-size: 0.9rem;

}

.signup:hover {
    color: white;
    background-color: rgb(120, 40, 196);
}


/* tablet view */
@media screen and (max-width: 1200px) {
    .nav-content {
        display: none;
    }

    .login {
        margin: 25px;
        font-size: 0.7rem;
        margin-left: 5px;

    }

    .signup {
        margin: 20px;
        font-size: 0.7rem;
        width: 4.3rem;
        height: 1.6rem;
        margin-right: 10px;

    }
}

/* dropdown */
.dropbtn {
    background-color: rgb(23, 19, 19);
    color: white;
    margin-right: 5px;
    width: 160px;
    height: 60px;
    font-size: 0.95rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;

}


.dropdown-content {
    display: none;
    position: relative;
    bottom: 10px;
    background-color: #f9f9f9;
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.345);
    border-radius: 5px;
    box-shadow: 0px 8px 16x 0px rgba(0, 0, 0, 0.521);
    direction: rtl;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.dropdown-content a:hover {
    color: rgb(147, 61, 227);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropbtn {
    color: rgb(147, 61, 227);

}